@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self: center;
  width:5%;
}
.top{
  display: flex;
  justify-content: center;
}
.middle{
  display: flex;
  justify-content: center;
}
.bottom{
  display: flex;
  justify-content: center;
}
p{
  display: flex;
  justify-content: center;
  color:antiquewhite;
}
a:link{
    color:rgb(255, 215, 0);
    font-size: 30px;
    padding: 3px;
}
a:visited{
    color:rgb(255, 215, 0);
    font-size: 30px;
    padding: 3px;
    border-style: solid;
    border-color:rgb(0, 0, 0);
}
a:hover{
    color:rgb(235, 255, 148);
    font-size: 30px;
    padding: 3px;
}

@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}
.lego{
  display: flex;
  justify-content: center;
}

/* phone */
body {
  background-color: #0e1c33;
}


h1 {
  font-family: "SF Distant Galaxy";
  color:aliceblue;
}



/* computer */
@media screen and (min-width: 600px) {




}

